<%- include('header'); -%>
<!-- 
    temp
    temp_min
    temp_max
    sunrise
    sunset
    city_name
    weather_status (main)
    weather_status_description (clear sky)
    icon
 -->
<!-- start from card -->
<div class='container-fluid row mt-5'>
  <div class="card text-center col-lg-12 ml-auto mr-auto" style="width: 18rem;">
    <img class="card-img-top w-25 ml-auto mt-4 mr-auto" src="/images/<%=iconFrom%>.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <%=cityFrom%>
      </h5>
      <h5 class="card-title">
        <%=tempFrom%>&deg</h5>
      <p class="card-text">
        <%=mainDescFrom%>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%=descriptionFrom%>
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">High of
        <%=maxTempTo%>&deg</a>
      <a href="#" class="card-link">Low of
        <%=minTempTo%>&deg</a>
    </div>
  </div>
  <!-- end from card -->
  <!-- start multiple card -->

  <% list.forEach((element) => { %>
  <div class='d-flex align-items-center col-lg-1.5'>
    <i class="fas fa-angle-double-right"></i>
  </div>
  <div class="card text-center col-lg-3 ml-auto mr-auto" style="width: 5rem;">
    <img class="card-img-top w-25 ml-auto mt-4 mr-auto" src="/images/<%=element.weather[0].icon%>.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <%=element.name%>
      </h5>
      <h5 class="card-title">
        <%=element.main.temp.toFixed(0)%>&deg</h5>
      <p class="card-text">
        <%=element.weather[0].main%>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%=element.weather[0].description%>
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">High of
        <%=element.main.temp_max.toFixed(0)%>&deg</a>
      <a href="#" class="card-link">Low of
        <%=element.main.temp_min.toFixed(0)%>&deg</a>
    </div>
  </div>
  <% }); %>
  <!-- end multiple card -->
  <!-- arrow -->
  <div class='d-flex align-items-center col-lg-1'>
    <i class="fas fa-angle-double-right"></i>
  </div>
  <!-- arrow -->
  <!-- start to card -->
  <div class="card text-center col-lg-12 ml-auto mr-auto" style="width: 18rem;">
    <img class="card-img-top w-25 ml-auto mt-4 mr-auto" src="/images/<%=iconTo%>.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">
        <%=cityTo%>
      </h5>
      <h5 class="card-title">
        <%=tempTo%>&deg</h5>
      <p class="card-text">
        <%=mainDescTo%>
      </p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <%=descriptionTo%>
      </li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">High of
        <%=maxTempTo%>&deg</a>
      <a href="#" class="card-link">Low of
        <%=minTempTo%>&deg</a>
    </div>
  </div>
</div>
<!-- end to card -->
<!-- 
     include the initial findings for the cities
     the api doesn't include the exact lat and lon of cities
  -->

<%- include('footer'); -%>